    summaryMy {
      border: 4px solid transparent;
      outline: none;
      padding: 1rem;
      display: block;
      background: black;
      color: white;
      padding-left: 2.2rem;
      position: relative;
      cursor: pointer;
    }
    summaryMy:focus {
      border-color: black;
    }
    
    detailsMy {
      max-width: 500px;
      box-sizing: border-box;
      background: white;
    }
    
    detailsMy summaryMy::-webkit-details-marker {
      display: none;
    }
    
    detailsMy[open] > summaryMy:before {
      transform: rotate(90deg);
    }
    
    summaryMy:before {
      content: "";
      border-width: 0.4rem;
      border-style: solid;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 2rem;
      left: 1rem;
      transform: rotate(0);
      transform-origin: 0.2rem 50%;
      transition: 0.25s transform ease;
    }
    
    .contentMy {
      border-top: none;
      padding: 10px;
      border: 2px solid black;
      border-top: none;
    }